<!DOCTYPE html>
<html>
    <head>
      <link rel = "stylesheet" href = "../static/main.css">
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src = "../static/script.js"></script>
      <title>WIMF</title>
    </head>
    <body>
        <div class = "header"><a class ="home-link" href="/index">What's In My Fridge <img class = "icon" src = "../static/icon.png"></a></div>
        <hr>
        {% block content %}{% endblock %}
        <a href ="https://github.com/ericshang22" class = "github"><img class = "github-icon" src = "../static/githubicon.png"></a>
    </body>
</html>
